<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>

<!-- show upload image -->
<div id="check-img-outer-frame" style="display: none;">
  <div id="check-img-frame">
    <img src="">
  </div>
  <button id="upload-btn" type="submit">OK</button>
</div>

<div class="container">

    {% include "navbar.html" %}

  <!-- header-bar template -->
  {% if isUploadImg %}
  <div class="header-bar" style="display: none;">
  {% else %}
  <div class="header-bar">
  {% endif %}
    <h1>How Attractive You Are By Robot ?</h1>
    <p>Upload the image to see the score .</p>
    <div class="select-img-frame">
      <form id="upload-from" action="" method="post" enctype="multipart/form-data">
        <label class="select-img-btn">
          {% csrf_token %}
          <input id="select-img" type="file" name="img" style="display: none;">
          <input type="text" name='test' value="fuckyou" style="display: none;">
          <i class="far fa-image"></i> UPLOAD NOW
          <input id="submitBtn" type="submit" style="display: none;" onSubmit="return submitOnce(this)">
        </label>
        <!-- <input type="submit" name="submit" value="submit"> -->
      </form>
    </div>
  </div>
  <!-- header-bar template -->

  <!-- upload-image-display -->
  {% if isUploadImg %}
  <div class="current-image-frame">
  {% else %}
  <div class="current-image-frame" style="display: none;">
  {% endif %}
    <div class="display-image-outer-frame">
      <div class="display-image-frame">
        <img src="{{ currentImg.img_url.url }}" alt="">
        <!-- <img src="" alt=""> -->
      </div>
    </div>
    <div class="image-detail-frame">
      <div class="image-detail">
        <div class="image-score"> {{ currentImg.cmpScore }} </div>
        <div class="image-creator">Creater By : <a class="creator-link" href="">{{currentImg.author}}</a></div>
        <div class="image-classification">
        {% for label in currentImg.label %}
        <div class="classification-item">{{label}}</div>
        {% endfor %}
        </div>
      </div>
        
    </div>
  </div>



  <!-- computer-rank template -->
  <div class="computer-score-rank">
    <h1>Computer Score Rank</h1>
    {% for item in imgListOrderByCmpScore %}
    <div class="img-outer-frame">
      <div class="img-frame">
          <a href="/blog/{{ item.author.username }}/{{ item.id }}"><img src="{{ item.img_url.url }}" alt=""></a>
          <div class="like-score">
          <i class="far fa-chart-bar"></i> {{ item.cmpScore }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- computer-rank template -->

  <!-- like-rank template -->
  <div class="like-score-rank">
    <h1>Like Rank</h1>
    {% for item in imgListOrderByLike %}
    <div class="img-outer-frame">
      <div class="img-frame">
        <a href="/blog/{{ item.author.username }}/{{ item.id }}"><img src="{{ item.img_url.url }}" alt=""></a>
        <div class="like-score">
          <i class="far fa-heart"></i> {{ item.like }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- like-rank template -->

</div>

{% include "footer.html" %}

<!-- JavaScript part -->

<script>

$(document).ready(function(){

  $("#select-img").change(function(){
    readURL(this);
  });

  $("#upload-btn").click(function(){
    $(".container").attr("style", "opacity: 1;");
    $("#check-img-outer-frame").attr("style", "display: none;");
    // $("form").submit(function(e){
      // alert("submit success");
    // });
    $("#submitBtn").click();
    // submitForm();
  });

  $(".img-frame").dblclick(function(){
    var imgFrameHtml = $(this).html();
    if(imgFrameHtml.match("far fa-heart") != null){
      imgFrameHtml = imgFrameHtml.replace("far fa-heart", "fas fa-heart");
      $(this).html(imgFrameHtml);
    } else {
      imgFrameHtml = imgFrameHtml.replace("fas fa-heart", "far fa-heart");
      $(this).html(imgFrameHtml);
    }
  });

});

function submitForm(){
  
}

function readURL(input) {

  if(input.files && input.files[0]) {
    $(".container").attr("style", "opacity: 0.5;");
    $("#check-img-outer-frame").attr("style", "display: block;");
    var reader = new FileReader();
    reader.onload = function(e) {
      $("#check-img-frame img").attr("src", e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
  }

}

var submitcount=0;

function submitOnce (form){

  if (submitcount == 0){
    submitcount++;

    return true;

  } else{

    alert("fuck")

    return false;

  } 
}

</script>

</body>
</html>