<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>

<div class="container">

  {% include "navbar.html" %}

    <div class="header-bar">
        <h2>{{ user.username }}</h2>
    </div>

    <div class="computer-score-rank">
    <h1>{{ user.username }}'s images </h1>
    {% for item in userImgList %}
    <div class="img-outer-frame">
      <div class="img-frame">
        <img src="{{ item.img_url.url }}" alt="">
          <div class="like-score">
          <i class="far fa-heart"></i> {{ item.cmpScore }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>

{% include "footer.html" %}

</body>
</html>